.App {
  max-width: 800px;
  text-align: center;
  margin: 50px auto 0;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.FoodBox {
  width: 60%;
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px 0;
}
.OrderBlock {
  border: 1px solid black;
  width: 35%;
  padding-top: 10px;
  position: relative;
}
.total{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}