.Button {
    border: 1px solid black;
    display: inline-block;
    width: 40%;
    border-radius: 20%;
    margin-bottom: 20px;
}
.Button:hover{
    cursor: pointer;
    background: aliceblue;
}

.button-title {
    margin: 15px 0;
}

.button-price {
    margin: 15px 0;
}